.register-bg {
  background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("https://images.unsplash.com/photo-1505761671935-60b3a7427bad?auto=format&fit=crop&w=1470&q=80")
      center/cover no-repeat;
  animation: moveBg 30s ease-in-out infinite alternate;
}

@keyframes moveBg {
  0% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}

