nav::-webkit-scrollbar {
  height: 8px;
}

nav::-webkit-scrollbar-track {
  background: #f3f4f6; /* light gray */
  border-radius: 4px;
}

nav::-webkit-scrollbar-thumb {
  background: #9ca3af; /* gray */
  border-radius: 4px;
}

nav::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* darker gray */
}
